fastapi==0.95.2\nuvicorn[standard]==0.22.0\npython-multipart==0.0.6\nPyPDF2==3.0.0\npdf2image==1.16.3\npytesseract==0.3.10\npillow==9.5.0\ncamelot-py[cv]==0.10.1\ntabula-py==2.4.0\npdfplumber==0.9.0\nreportlab==3.6.14
pandas==2.2.2
openpyxl==3.1.2
python-pptx==0.6.21
PyMuPDF==1.22.3
WeasyPrint==59.0
